<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EventHubConnectionString"
         value="Endpoint=sb://tedhub.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=JJEsDK/EMbmwbneZ9tRRxfvONXZvDcG0sh75Ul5zckc=" />
    <add key="EventHubName"
         value="hub1"/>
  </appSettings>
</configuration>